.todoForm {
  display: flex;
  background: transparent;
  padding: 10px;
}
.title {
  text-align: center;
}
.todoForm .input {
  flex: 1;
  outline: none;
  transition: all 0.2s;
  margin-right: 20px;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #757575;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
}

.todoForm .input:focus {
  border: 1px solid #d886ec;
}

.app {
  color: black;
  background: transparent;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 600px) {
  .app {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
}
